body {
    font-family: Arial, sans-serif;
    background-color: #f0f8ff;
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
    margin: 0;
}
form {
    background-color: #4caf50;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,1);
    text-shadow: 0 4px 8px rgba(0,0,0,1);
    width: 300px;
}
form h2 {
    color: #fff;
    text-align: center;
}
label {
    color: white;
}
input[type="text"], input[type="email"], input[type="password"], input[type="number"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}
input[type="submit"] {
    background-color: #fff;
    color: #4caf50;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    width: 97%;
}
input[type="submit"]:hover {
    background-color: #ddd;
}
.error {
    color: #ff0000;
    font-size: 15px;
    display: none;
}