body{
    background-color: white;
    display: flex;
    height: 100vh;
    margin: 0;
    justify-content: center;
    align-items: center;
}
p{
    color: aqua;
    font-size: xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    font-variant:small-caps;
}